.topnav {
    background-color: #fff;
    min-height: 10px;
    flex-direction: row;
    justify-content: center;
    color: black;
  
}

.topnav a {
    color:black;
    font-weight: bold;
    padding: 90px;
    font-size: 17px;

}
.body {
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
height: auto;
padding: 5%;
} 

.section1{
    background-color: rgb(1, 54, 13);
    height: 500px;
    width: 600px;
}
.section2{
    background-color: #ffffff;
    height: 500px;
    width: 600px;
}


.footer {
    background-color: #ffffff;
    opacity: 50;
    min-height: 90px;
    flex-direction: row;
    justify-content: center;
    color: black;
}
h1 {
    font-size: larger;
    color: #d9ffd9;
    font-family: 'Brush Script MT', cursive;
}
text{
    font-size: large;
    color: black;
    text-Align: justify;
    
}
.textc {
    color: #355E3B;
    font-weight: bold;
}

.par {
    font-style: italic;
    font-size: 13px;
}
h2 {
    font-size: large;
    color: black;
    font-family: 'Arial';
    font-weight: bolder;
}
.table {
    
    text-align: justify;
    width: 100%;
    border: 1px solid black;
    border: 1px solid black;
    border: 1px solid black;
    border: 1px solid black;
}
.td {
   }

